
header{

    background-color:rgb(22, 34, 45);
}

.container
{

    display: flex;
    
    justify-content: space-between;
    align-items: center;
    
    max-width: 80%;
    margin: 0 auto;
    padding: 1rem;
    
    


}


.btn
{
    position: relative;
    text-align: center;
    cursor: pointer;
}

.btn span{

    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    width: 100px;
    padding: 7px 0;
    
    border-radius: 8px;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    transition: transform 0.1s linear;

}
.color span{

    background: linear-gradient(90deg, #0165CD,#55E6FB) ;

}




h1 ,a{

    text-decoration: none;
    color: aliceblue;
}
ul,li,a{

    list-style: none;
    text-decoration: none;
    display: flex;
    color: #fff;
    gap: 60px;
    cursor: pointer;

}
a:hover{

    color: #198fd9;
    transition: all 0.3s ease-in;

}

